<div class="logCont contatiner d-flex flex-column justify-content-center align-items-center">


    <div class="formDiv  d-flex flex-column flex-nowrap justify-content-around">



        <form class=" formLogin d-flex flex-column flex-nowrap justify-content-around align-items-center "
            action="/login" method="post">
            <h1>log in</h1>

            <div>
                <label for="email"></label>
                <input id="email" type="email" name="email" placeholder="email">
            </div>

            <div>
                <label for="password"></label>
                <input id="password" type="password" name="password" placeholder="pasword">
            </div>
            <div>
                <button class="indesLogIn" type="submit">submit</button>
            </div>
        </form>

    </div>

</div>