<div class=" d-flex container ">


    {{#if LoggedIn}}
    <h1 class="welch1">welcome</h1>

    {{/if}}

    <div class="video-container">

        <video autoplay muted id="my-video" class="video">

            <source src="../videos/disneyvideo.mp4" type="video/mp4">
        </video>

    </div>
</div>