<div class="container">
    <div class="row d-flex justify-content-center">






        {{#each users }}


        <div class=" col-3 mt-3 me-5">
            <div class="card-style card" style="width: 18rem;">
                <img class=" card-image card-img-top  " src="{{image}}" alt="{{username}}">
                <div class="card-body d-flex justify-content-center">
                    <h5>{{username}}</h5>
                </div>
                <div>
                    <a href="/details/{{_id}}" class="d-flex flex-row justify-content-center btn">profile</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>